body{
    margin: 0;
    justify-content: center;
}

/* The header section */
.header{
    flex: 1;
    display: flex;
    background: #1F2937;
    align-items: center;
    justify-content: space-around;
    
}

.headerImage{
    width: 100px;
    height: 100px;

}

.headerUL{
    display: flex;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    color: white;
    text-decoration: none;

}


/* The description section  */
.descriptionContainer{
    background:#1F2937;
    display: flex;
    justify-content: space-around;
    height: 350px;
    align-items: center;
}

.descriptionImage{
    width: 300px;
    height: 150px;
}

.button{
    background-color: rgb(25, 190, 190);
    color: white;
    margin: 0;
    border: none;
    text-align: center;
    padding: 2px 8px;
    border-radius: 8px;
}

.descriptionLeft{
    color: white;
}


/* The random information section */
.text{
    text-align: center;
}
.randomInformation{
    /* justify-content: space-around; */
    height: 350px;
}

.figures{
    flex: 1;
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.bodyImage{
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 4px;
    border-color: aqua;
    
}

.figureList{
    padding: 0;
    margin: 0;
}

figcaption{
    max-width: 200px;
    text-align: center;
}
