body{
    margin: 0;
    justify-content: center;
}

.header{
    flex: 1;
    display: flex;
    background: #1F2937;
    align-items: center;
    justify-content: space-around;
    
}

.headerImage{
    width: 100px;
    height: 100px;

}

.headerUL{
    display: flex;
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    color: white;
    text-decoration: none;

}